
page-home {
}
*{
    margin: 0;
    padding:0;
    text-align: center;
}
// #ion-header{
//     background: #fedb47!important;
// }
.fixed-content,.scroll-content{
    margin-top: 40.84px!important;
}
.header-ios .toolbar-ios:last-child .toolbar-background-ios{
    background: #fedb47;
    border: none;
    height: 40.84px;
}
ion-img.img-loaded img{
    border: none;
}
.toolbar-ios{
    height:40.84px;
}
img{
    border-radius: 0!important;
}
.slides{
    padding-top: 13px;
}
.navimg{
    // width:100%;
    // padding:0 130px;
    // height:100%;
    // background: #fedb47;
    margin: 0 auto;
    height: 34.22px;
}
.swiper-container-horizontal > .swiper-pagination-bullets{
    bottom:6px;
}
.swiper-pagination-bullet{
    background:#ffe73d;
}
ion-segment{
    border-bottom: 2px solid #f1f1f1;
}
.segment-ios .segment-button{
    // color:#999999;
    font-size: 14.9px;
    width: 100%;
    height: 51.88px;
    line-height: 51.88px;
    border:none;
}
.segment-ios .segment-button.segment-activated{
    background:none;
    // color:#999;
    border-bottom: 4px solid #fedb47;
}
.grid{
    padding:6px 0;
}
.ion-button{
    font-size:14.9px;
}
.col{
    padding: 0;
    font-size: 14.9px;
    height: 97.7px;
    border: 1px solid #e5e5e5;
}
.col .rowimg{
    margin: 14.9px 0;
    height: 27.6px;
}
// 列表
.iconsub{
    text-align: left;
    font-size: 21px;
    color:#666666;
    border-top: 11.04px solid #f9f9f9;
    height: 55.2px;
    line-height: 55.2px;
    padding-left:11.04px;
}
.iconsub img{
    width: 23px;
}
.item-title{
    display: block;
    text-align: left;
    font-size: 13.25px;
    border:1px solid #f0f0f0;
    width:100%;
    padding: 3.86px 28px;
    border-left:none;
    border-right:none;
}
.item-title span{
    color:#9f9f9f;
}
.item-content{
    height: 71.76px;
    text-align: left; 
    color:#000;   
}
.item-content img{
    width: 47.47px;
    display: inline-block;
}
.item-ios.item-block .item-inner{
    padding: 0;
}
.item-content img{
    margin-left:28px;
    margin-top: 12.69px;
}
.item-ios.item-block .item-inner{
    border-bottom:11.04px solid #f9f9f9;
}
.items{
    padding: 0;
    background-image: url(../../assets/imgs/arrow-right.png);
    background-repeat: no-repeat;
    background-position: 95% 68%;
    margin-right:23.18px;
}
.span-01{
    float: right;
    position: relative;
    right: 190px;
}
.span-02{
    float: right;
    position: relative;
    right: 10px;
}
.span-02 span,.span-01 span{
    // color: #666;
}
ion-img{
    width: 100%;
    height: 180px;
}
ion-slides{
    height:180px;
}